@this()
@(services: Seq[String])(implicit messages: Messages, request: Request[AnyContent])

@main("Auth-login-stub-stub") {

  @if(request.flash.get("error").getOrElse("") == "error.badform") {
    <div class="govuk-error-summary">
      <h2 class="govuk-error-summary__title">
        Error innit
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li><a href="#service">@messages("error.badform")</a></li>
        </ul>
      </div>
    </div>

  }
  <header class="hmrc-page-heading">
    <h1 class="govuk-heading-l">@messages("home.h1")</h1>
  </header>
  <form method="post" enctype="application/x-www-form-urlencoded" id="service-form">
    @helper.CSRF.formField
    <div class="govuk-form-group">
      <label class="govuk-label" for="service" style="display: none;">
        Pick service
      </label>
      <select class="govuk-select" id="service" name="serviceName">
        @for(service <- services) {
          <option value="@service">@service</option>
        }
      </select>
    </div>
    <div id="buttons" class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button" formaction='@routes.ALSController.quickLogin()'>
        @messages("home.button.quick")
      </button>
      @*
      *<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction='@routes.ALSController.customLogin()'>
      *  @messages("home.button.custom")
      *</button>
      *@
    </div>
  </form>

}
