@this()
@(services: Seq[String])(implicit messages: Messages, request: Request[AnyContent])

@main("Auth-login-stub-stub") {

<header class="hmrc-page-heading">
    <h1 class="govuk-heading-l">@messages("home.h1")</h1>
</header>
<div class="govuk-form-group">
    <table class="govuk-table" style="width: 50em;">
        <tbody>
            @for(service <- services) {
            <tr>
                <td style="width: 15em;">
                    <p class="govuk-body-lead">@service</p>
                </td>
                <td style="width: 3em;">
                    <a class="govuk-button" data-module="govuk-button" href='@routes.ALSController.quickUrlLogin(service)'>
                        @messages("home.button.quick")
                    </a>
                </td>
                <td style="width: 3em;">
                    @if(service == "ers-returns-frontend") {
                        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href='@routes.HomeController.ersSpecial()'>
                            @messages("ers.button.custom")
                        </a>
                    }
                    @if(service == "trusts") {
                        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href='@routes.HomeController.trustsSpecial()'>
                            @messages("trusts.button.custom")
                        </a>
                    }
                    @*
                    *<a class="govuk-button govuk-button--secondary" data-module="govuk-button" href='@routes.ALSController.customUrlLogin(service)'>
                    *    @messages("home.button.custom")
                    *</a>
                    *@
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
}
